= form_for [:admin, @project], :class => "form form-horizontal" do |f|

  = control_group_helper "项目名称", "例如: 关于xxx的通知", f.object.errors[:title].first do
    = f.text_field :name, :class => "input-xxlarge"

  = control_group_helper "项目地址", "例如: 关于xxx的通知", f.object.errors[:title].first do
    = f.text_field :address, :class => "input-xxlarge"

  = control_group_helper "建筑商", "例如: 关于xxx的通知", f.object.errors[:title].first do
    = f.text_field :builder, :class => "input-xxlarge"

  = control_group_helper "物业", "例如: 关于xxx的通知", f.object.errors[:title].first do
    = f.text_field :wuye, :class => "input-xxlarge"

  = control_group_helper "建造开始时间", "例如: 关于xxx的通知", f.object.errors[:title].first do
    = f.text_field :build_begin_at, :class => "", :class => "input-xxlarge"

  = control_group_helper "建造结束时间", "例如: 关于xxx的通知", f.object.errors[:title].first do
    = f.text_field :build_end_at, :class => "input-xxlarge"

  = control_group_helper "项目描述", "例如: 关于xxx的通知", f.object.errors[:title].first do
    = f.text_area :desc
  .actions
    = f.submit '保存', :class => "btn btn-primary"
    = link_to "返回", admin_projects_path, :class => "btn btn-primary"
